#recipeName {
  cursor: pointer;
}

#styledLi {
  display: flex;
  align-items: center;

  button {
    margin-left: 20px;
  }


}

#SearchBar {

  background-color: burlywood;

  display: flex;
}

#searchInput {
  display: flex;

}

