.App {
  text-align: center;
  padding-top: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
  overflow: hidden;
}

.modal-wrapper {
  position: fixed;
  justify-content: center;
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  max-height: 90%;

}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  max-width: 600px;
  padding: 2rem;
  border-radius: 30px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}


.button-default {
  background: #247BA0;
  color: #fff;
}